*{
    margin: 0;
    color: #E0E0E0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: #121212;
}
header, footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: navy;
}
main{
    
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin-top: 120px;
    margin-bottom: 120px;
}
article{
    
    display: flex;
    
}
section{
    width: 500px;
    padding-left: 10px;
    
}

.studentNo{
    font-size: 3rem;
    font-family: fantasy;
    text-indent: 0px;
}
h2{
    font-family: 'Courier New', Courier, monospace;
}
p,h2{
    
    animation-name: appear;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
    animation-iteration-count: 1;
}

@keyframes appear {
    from{
        color: transparent;
        opacity: 0;
        scale: 0.1;
    }to{
        color: white;
        opacity: 1;
        scale: 1;
    }
}

#img1{
    background-image: url('jolester.jpg') ;
}
#img2{
    background-image: url('eisen.jpg') ;
}
#img3{
    background-image: url('lev.jpg') ;
}
#img1,#img2,#img3{
    height: 500px;
    width: 500px;
    
    background-size: cover;
    position: relative;
    
    border-radius: 30px;

    animation-name: moves;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
    animation-iteration-count: 1;
    
    

}
#img1::after, #img2::after, #img3::after{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, transparent 40%, #121212);
}
@keyframes moves{
    from{
        opacity: 0;
        transform: translate(-1500px);
    }to{
        opacity: 1;
        transform: translate(0px);
    }
}
